h1 {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
}

#aboutBtn {
	float: right;
	background-color: #571845;
	color: white;
}

#secButton1 {
	background-color: #571845;
	color: white;
	font-family: 'Oswald', sans-serif;
	height: 20vh;
	text-align: center;
	padding-top: 5vh;
}

#secButton2 {
	background-color: #900C3E;
	color: white;
	font-family: 'Oswald', sans-serif;
	height: 20vh;
	text-align: center;
	padding-top: 5vh;
}

#secButton3 {
	background-color: #FF5733;
	color: white;
	font-family: 'Oswald', sans-serif;
	height: 20vh;
	text-align: center;
	padding-top: 5vh;
}

#secTitle {
	padding-top: 5vh;
	text-align: center;
	color: black;
	font-size: xx-large;
}

#secSubtitle {
	text-align: center;
	color: grey;
}

#checklist {
	padding-bottom: 5vh;
}

#checklist ul {
	list-style: none;
}

#checklistTitle {
	text-align: center;
	margin: 1vh;
}

#checklistColumns {
	border-style: solid;
	border-color: #571845;
	margin: 5vh;
}

#checklistColumns .btn {
	margin-bottom: 1vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

#checklistColumn1 {
	padding: 5vh;
}

#checklistColumn2 {
	padding: 5vh;
}

#checklistColumn3 {
	padding: 5vh;
}

#checklistColumn4 {
	padding: 5vh;
}

#columnImage {
	height: 20vh;
	width: 20vh;
}

#downloadBtn {
	background-color: #FF5733;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#schedule {
	background-color: #FFC300;
	padding-bottom: 5vh;
}

#timelineContainer {
	background-color: #571845;
	margin-left: 10vh;
	margin-right: 10vh;
}

.timeline {
	list-style: none;
	padding: 5vh;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: white;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timelineContent {
	width: 26%;
	float: left;
	position: relative;
	left: 20%;
	font-family: 'Lato', sans-serif;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 10px;
	padding: 20px;
	position: relative;
}

.timeline > li > .timelineContent:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid white;
	border-right: 0 solid white;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timelineContent:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid white;
	border-right: 0 solid white;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timelineMarker {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #FFC300;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timelineContent {
		position: relative;
	left: -20%;
	float: right;
}

.timeline > li.timeline-inverted > .timelineContent:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timelineContent:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timelineBody > p, .timelineBody > ul {
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.timeline > li > .timelineContent {
		font-size: x-small;
		margin-left: -8vh;
		padding: 10px;
		width: 46%;
	}

	.timeline > li.timeline-inverted > .timelineContent {
		margin-right: -8vh;
	}

	.timelineTitle {
		font-size: small;
	}
}

.roadmap {
	height: 100vh;
}

#faq {
	background-color: #571845;
}

#staffCards {
	margin: 2vh;
}

figure.staffCard {
	font-family: 'Lato', sans-serif;
	font-size: small;
	color: #fff;
	position: relative;
	margin: 2vh;
	min-width: 120px;
	max-width: 190px;
	max-height: 190px;
	text-align: center;
	margin-bottom: 5vh;
}

figure.staffCard img {
	opacity: 1;
	max-width: 100%;
}

figure.staffCard figcaption {
	font: x-small;
	bottom: -5vh;
	width: 90%;
	max-height: 50%;
	right: 0;
	position: absolute;
	background: #FF5733;
	padding: 5px;
}

figure.staffCard figcaption h5 {
	font-size: medium;
}

.page-footer {
	background-color: #850040;
	padding: 2vh;
}

#socialMedia {
	padding: 2vh;
	color: white;
	line-height: 90%;
	font-family: 'Lato', sans-serif;
	font-size: medium;
}

#socialMedia a {
	color: #FFC300;
}

#fontAwesome {
	margin-left: 10px;
}